body{ 
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 300px;
    background-color: #ff79c8 
}
#colors{ 
    border: 4px solid black;
    border-radius: 30px;
    height: 90px;
    width: 100px;
}